.form {
    width: 100%;
    height: 100%;
    position: absolute;


    /* label underline focus color */
    .input-field input[type=text]:focus {
        border-bottom: 1px solid #fff;
        box-shadow: 0 0px 0 0 #000;
    }

    .button-div {
        margin-left: auto;
        margin-right: auto;
    }
}